body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.logo-container {
    margin: 36px 50px;
}

.image-logo {
    height: 60px;
    width: 60px;
}

.account-success {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-account {
    width: 270px;
    height: auto;
}

.acct-created {
    font-size: 25px;
    
}

/* .button {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 9px;
    font-size: 8px;
    margin-top: 20px;
    cursor: pointer;
} */
.btn {
    background-color: #ff0000;
    color: #f0f0f0;
    height: 3rem;
    width: 9rem;
    border: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
}


    /* .btn {
        background-color: #ff0000;
        color: #fff;
        height: 3rem;
        width: 9rem;
        border: none;
        border-radius: 0.5rem;
        text-transform: uppercase;
    } */

 /*
      responsive navigation menu
      displayed horizontally on large screens and vertically on small screens
    */
    @media screen and (max-width: 600px) {
        .topnav a {
            float: none;
            width: 100%;
        }
    }

    /* responsive column layout with FLOAT */
    .column {
        float: left;
        width: 25%;
    }
    @media screen and (max-width: 992px) {
        .column {
            width: 50%;
        }
    }
    @media screen and (max-width: 600px) {
        .column {
            width: 100%;
        }
    }
    /* same with FLEX */
    .row {
      display: flex;
      flex-wrap: wrap;
    }
    .column {
      flex: 25%;
      padding: 20px;
    }
    @media screen and (max-width: 992px) {
      .column {
        flex: 50%;
      }
    }
    @media screen and (max-width: 600px) {
      .row {
        flex-direction: column;
      }
    }

    /* when the width is between 600px and 900px */
    @media screen and (max-width: 900px) and (min-width: 600px) {
      div.example {
        font-size: 50px;
        padding: 50px;
        border: 8px solid black;
        background: yellow;
      }
    }
    /* when the width is between 600px and 900px OR above 1100px */
    @media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px) {
      div.example {
        font-size: 50px;
        padding: 50px;
        border: 8px solid black;
        background: yellow;
      }
    }

    /* change layout of a page depending on the orientation of the browser */
    @media only screen and (orientation: landscape) {
        body {
            background-color: lightblue;
        }
    }
