* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato,sans-serif;
    background-color: rgb(207, 201, 201);
    
}

.Logo-container {
    margin: 36px 50px;
}

.Logo-container img {
    width: 60px;
    height: 60px;
}

.container {
    
    margin: auto 90px;
    margin-bottom: 90px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
}



.h2 {
    font-size: 24px;
    
    margin-bottom: 30px;
    
}

.Image-layout {
    text-align: center;
    margin-bottom: 30px;

}



.left-section {
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    
}

.right-section {
    background-color: rgb(221, 212, 212);
    padding: 50px;
    border-radius: 5px;
    
}

.black-arrow img {
    width: 20px;
}



h3 {
    text-align: center;
    margin-bottom: 20px;
}

.Form-group {
    margin-bottom: 20px;
    
}

.label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px 10px 10px 10px;
    border: 1px solid #e53935;
    border-radius: 5px;
}

button {
    background-color: red;
    color: #f1f1f1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 105%;
}

p {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

p a {
    color: #e53935;
}

 /*
      responsive navigation menu
      displayed horizontally on large screens and vertically on small screens
    */
    @media screen and (max-width: 600px) {
        .topnav a {
            float: none;
            width: 100%;
        }
    }

    /* responsive column layout with FLOAT */
    .column {
        float: left;
        width: 25%;
    }
    @media screen and (max-width: 992px) {
        .column {
            width: 50%;
        }
    }
    @media screen and (max-width: 600px) {
        .column {
            width: 100%;
        }
    }
    /* same with FLEX */
    .row {
      display: flex;
      flex-wrap: wrap;
    }
    .column {
      flex: 25%;
      padding: 20px;
    }
    @media screen and (max-width: 992px) {
      .column {
        flex: 50%;
      }
    }
    @media screen and (max-width: 600px) {
      .row {
        flex-direction: column;
      }
    }

    /* when the width is between 600px and 900px */
    @media screen and (max-width: 900px) and (min-width: 600px) {
      div.example {
        font-size: 50px;
        padding: 50px;
        border: 8px solid black;
        background: yellow;
      }
    }
    /* when the width is between 600px and 900px OR above 1100px */
    @media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px) {
      div.example {
        font-size: 50px;
        padding: 50px;
        border: 8px solid black;
        background: yellow;
      }
    }

    /* change layout of a page depending on the orientation of the browser */
    @media only screen and (orientation: landscape) {
        body {
            background-color: lightblue;
        }
    }
